#-------------------------
# Visual Studio
#-------------------------
.vs/
*.suo
*.user
*.vcxproj
*.vcxproj.filters

#-------------------------
# CMake build directories
#-------------------------
/build/
/out/
/out/build/
/cmake-build-*/

CMakeFiles/
CMakeCache.txt
CMakeScripts/
Testing/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json

#-------------------------
# IDE / Editor
#-------------------------
*.code-workspace
*.idea/
*.vscode/

#-------------------------
# OS files
#-------------------------
Thumbs.db
.DS_Store